@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --primary: rgba(217, 4, 41);
} */

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
